body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* color: rgba(0, 0, 0, 0.87); */
  background-color: #303030;
  color: #fff;
}

dt {
  float: left;
  min-width: 100px;
  font-weight: bold;
}

#root{
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: auto;
  justify-items: center;
}

#root:first-child {
  grid-area: header;
  height: auto;
  justify-content: stretch;
}

#root:nth-child(2) {
  grid-area: main;
}

#nav {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

@media (min-width: 700px) {
  #nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

#nav a {
  min-width: 100%;
  width: 90vw
  
}

@media (min-width: 700px) {
  #nav a {
    min-width: 300px;
    min-height: 350px;
    width: 300px;
    height: 350px;
    margin: 20px;
    flex-direction: column;
  }
}

@media (min-width: 700px) {
  #nav a div:first-child {
    font-size: 50px;
    padding: 30px;
    margin: 20px 0 50px;
  }
}

@media (min-width: 700px) {
  #nav a div span {
    font-size: 30px;
    text-align: center;
  }
}

@media (min-width: 700px) {
  #nav a div p {
    font-size: 18px; 
    text-align: center;
  }
}

#suggestion-list {
  position: fixed;
  height: auto;
  width: 200px;
  max-width: 250px;
  top: 60px;
  left: 50%;
  list-style-type: none;
  transform: translateX(-50%);
}

#suggestion-list li {
  padding: 6px 6px 6px 10px;
  background-color: #212125;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

#suggestion-list li:first-child {
  border-top-left-radius: 10px;
}
#suggestion-list li:last-child {
  border-bottom-left-radius: 10px;
}

@media (min-width: 540px) {
  #suggestion-list {
    transform: translateX(0);
    list-style-type: unset;
  }
}

@media (min-width: 700px) {
  #suggestion-list {
    left: 32px;
  }
}

@media (min-width: 700px) {
  .loading-btn {
    text-align: center;
  }
  .loading-btn span {
    font-size: 25px;
  }
}



